*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/imgs/imagem-de-fundo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.App {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
}

input[type='checkbox'] {
  display: none;
}

.typeName {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 95%;
  height: 66px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  color: black;
}

.imgContainer {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

input[type='checkbox'] + label {
  background-color: rgb(174, 174, 174);
}

input[type='checkbox'] + label img {
  width: 100%;
  filter: grayscale(100%);
}

input[type='checkbox']:checked + label img {
  filter: grayscale(0);
}

input[type='checkbox']:disabled + label{
  background-color: rgba(255, 0, 0, 0.600);
}

input[type='checkbox']:checked + label {
  background-color: rgba(0, 170, 0, 0.600);
  color: white;
}

button {
  background: none;
  border: none;
}

 /*button {
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  background-image: linear-gradient(to bottom, yellow, orange);
  border: none;
  border-radius: 20px;
} */

/* button:hover {
  background-image: linear-gradient(to bottom, rgb(255, 255, 77), rgb(255, 193, 77));
  cursor: pointer;
} */